body {
    margin: 0;
    image-rendering: pixelated;
    overflow: hidden;
    font-family: Consolas, Inconsolata, monospace;
    font-size: medium;
}

.mx {
    width: 100vw; height: 100vh;
    background-image: url('./map/ov2.png');
    position: absolute;
    background-repeat: no-repeat;
    cursor: grab;
    text-align: center;
    background-color: #000;
}

.t {
    background-color: #000000a0;
    color: #fff;
    user-select: none;
    display: inline-block;
    padding: 2px;
}

.sm {
    font-size: small;
    font-weight: bold;
}