body {
    margin: 0;
    image-rendering: pixelated;
    font-family: Consolas, Inconsolata, Ubuntu, 'Noto Sans JP', 'M PLUS Rounded 1c', monospace;
    font-size: medium;
    overflow: hidden;
    position: relative;
}

.mx {
    /* width: 100vw; height: 100vh; */
    background-image: url('./map/o.png');
    position: relative;
    background-repeat: no-repeat;
    cursor: grab;
    text-align: center;
    background-color: #000;
    overflow: hidden;
}

.t {
    background-color: #000000a0;
    color: #fff;
    user-select: none;
    display: inline-block;
    padding: 2px;
    text-align: center;
}

.sm {
    font-size: x-small;
    font-weight: 600;
}